<ul class="layout-birthday">
  <div class="container">
    <div class="shape">
      <img
        class="image"
        alt="avatar1"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGf_8UZ3xLijdkOtv3qWnUpyknARbKMrcVJA&usqp=CAU"
      />
      <!-- <img class="image" [src]="photoURL" *ngIf="profilePic !== null" alt="Profile Pic"> -->
    </div>
    <h3 *ngIf="profileData">{{ profileData.firstName ? profileData.firstName : '' }} {{ profileData.lastName ? profileData.lastName : '' }}</h3>
    <h3 class="title" *ngIf="profileData">{{ profileData.designation ? profileData.designation : '' }}</h3>
    <p *ngIf="profileData">{{ profileData.companyName ? profileData.companyName : '' }}</p>
  </div>
</ul>
