<div class="grid p-8 bg-white-500">
  <div class="col-12 xl:col-6">
    <img alt="" class="responsive-image" src="assets/images/4565.jpg" />
  </div>
  <div class="col-12 xl:col-6 loginForm">
    <h1 class="title">Login</h1>
    <form>
      <div class="input-field">
        <i class="bi bi-person-fill"></i>
        <input type="text" placeholder="Email">
      </div>
      <div class="input-field">
        <i class="bi bi-lock-fill"></i>
        <input type="password" placeholder="Password">
      </div>
      <!-- <div class="input-group mb-5 d-flex align-items-center">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="formCheck">
          <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>
        </div>
        <div class="forgot ml-auto">
          <small><a href="#">Forget Password?</a></small>
        </div>
      </div> -->
      <input type="submit" value="login" class="btn solid">
      <p>Do you have an Account?<a href="/auth/register" style="color: black;">Register</a> </p>
      <div class="social pt-3">
        <p>Or Login With</p>
        <ul class="icons gap-2 pt-3">
          <a href=""><i class="bi bi-google"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </ul>
      </div>

    </form>
  </div>
</div>