<div class="grid">
    <p-toast></p-toast>
    <div class="col-12">
        <div class="card">
            <div class="flex flex-wrap gap-2 justify-content-between">
                <div>
                    <h3>Post a Job/Internship</h3>
                </div>
                <!-- <div class="flex flex-wrap gap-2">
                    <button pButton pRipple label="Back to Job Board" (click)="backToJobBoard()"
                        style="background-color: #007EA7;"> </button>
                </div> -->
            </div>
            <form [formGroup]="addJob">
                <div class="p-fluid p-formgrid grid mt-2">
                    <div class="col-12 md:col-6 mb-0">
                        <label htmlFor="jobType">Job Type<span class="required">*</span></label>
                            <p-dropdown [options]="eventViewedOptions" optionLabel="label" formControlName="jobType"
                            (onChange)="selectViewedOption($event.value)" placeholder="Select Type"
                            [showClear]="true"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-6 mb-0">
                        <label htmlFor="jobTitle">Job Title<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" formControlName="jobTitle" id="jobTitle"
                            type="text" />
                    </div>
                    <div class="col-12 md:col-6 mb-0">
                        <label htmlFor="companyName">Company Name<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" formControlName="companyName"
                            id="companyName" type="text" />
                    </div>
                    <div class="field col-12 md:col-6 mb-0">
                        <label htmlFor="companyWebsite">Company Website<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" formControlName="companyWebsite"
                            id="companyWebsite" type="text" />
                    </div>
                    <div class="field col-12 md:col-6 mb-0">
                        <label htmlFor="contactEmail">Contact Email<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" id="contactEmail"
                            formControlName="contactEmail" type="text" />
                    </div>
                    <div class="field col-12 md:col-6 mb-0">
                        <label htmlFor="jobLocation">Job Location<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" id="jobLocation"
                            formControlName="jobLocation" type="text" />
                    </div>
                    <div class="field col-12 md:col-6 mb-0">
                        <label htmlFor="experienceFrom">Experience Level From<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" id="experienceFrom"
                            formControlName="experienceFrom" type="text" />
                    </div>
                    <div class="field col-12 md:col-6 mb-0">
                        <label htmlFor="experienceTo">experience Level To<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" id="experienceTo"
                            formControlName="experienceTo" type="text" />
                    </div>
                    <div class="field col-12 md:col-6 mb-0">
                        <label htmlFor="skills">Skills relevant to the opportunity<span
                                class="required">*</span></label>
                        <p-chips formControlName="skills" id="skills" class="custom-chips"
                            placeholder="Type and press Enter"></p-chips>
                    </div>
                    <div  *ngIf="postType" class="field col-12 md:col-6 mb-0">
                        <label htmlFor="salaryPackage">Salary Package<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" id="salaryPackage"
                            formControlName="salaryPackage" type="text" />
                    </div>
                    <div *ngIf="!postType" class="field col-12 md:col-6 mb-0">
                        <label htmlFor="salaryStipend">Stipend<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" formControlName="salaryStipend"
                            id="salaryStipend" type="text" />
                    </div>
                    <div class="field col-12 md:col-6 mb-0">
                        <label htmlFor="applicationDeadline">Application Deadline<span class="required">*</span></label>
                        <p-calendar formControlName="applicationDeadline" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6 mb-0">
                        <label htmlFor="education">Education<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" formControlName="education" id="education"
                            type="text" />
                    </div>

                    <div class="field col-12 md:col-6 mb-0">
                        <label htmlFor="jobsDescription">Job Description<span class="required">*</span></label>
                        <p-editor [style]="{ height: '240px' }" formControlName="jobsDescription" class="pInputText"
                            id="jobsDescription"></p-editor>
                    </div>
                    <div class="field col-12 md:col-6 mb-0">
                        <div class="field">
                                <label htmlFor="role">Role<span class="required">*</span></label>
                                <input pInputText class="p-inputtext-sm pInputText" formControlName="role" id="role"
                                    type="text" />
                        </div>
                        <div class="field">
                            <label htmlFor="industryType">Industry Type<span class="required">*</span></label>
                            <input pInputText class="p-inputtext-sm pInputText" formControlName="industryType"
                                id="industryType" type="text" />
                        </div>
                        <div class="field">
                            <label htmlFor="employmentType">Employment Type<span class="required">*</span></label>
                            <input pInputText class="p-inputtext-sm pInputText" formControlName="employmentType"
                                id="employmentType" type="text" />
                        </div>
                        <!-- Department -->
                        <div class="field">
                            <label htmlFor="department">Department<span class="required">*</span></label>
                            <textarea rows="3" cols="30" pInputTextarea formControlName="department"></textarea>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap gap-2 justify-content-center">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" (click)="resetForm()" class="button">
                    </button>
                    <button type="button" pButton icon="pi pi-check" label="Submit" (click)=" postJobIntern()"
                        class="button">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>