.file {
    height: 2.7rem;
    // background-color: #003459;
    color: #072E33;
}


input::file-selector-button {
    font-weight: bold;
    color: black;
    background-color: #0F9690;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 6px;
    height: 2.7rem;
}


.pInputText:hover {
    border-color: #0F9690;
}

.pInputText:focus {
    border-color: #072E33;
}

.button {
    background-color: #072E33;
}


.button:hover {
    background-color: #0F9690;
    // color: red;
}


.required {
    color: red;
    font-size: 15px;
}

:host ::ng-deep .p-calendar {
    height: 2.8rem;
    /* Adjust the height value as needed */
}

:host ::ng-deep .p-calendar .p-inputtext:hover {
    border-color: #0F9690; 
}

:host ::ng-deep .p-calendar .p-datepicker-trigger {
    background-color:#0F9690;
}

:host ::ng-deep .p-chips .p-inputtext:hover {
    border-color: #0F9690;
}
