<div class="grid p-8">
  <div class="col-12 xl:col-6">
    <h1>Register</h1>
    <form [formGroup]="registerForm">
      <div class="input-controls">
        <i class="pi pi-user"></i
        ><input
          type="text"
          name=""
          placeholder="Email"
          required
          formControlName="email"
        />
      </div>
      <div class="input-controls">
        <i class="pi pi-lock"></i
        ><input
          type="password"
          name=""
          placeholder="Password"
          required
          formControlName="password"
        />
      </div>
      <div class="input-controls">
        <i class="pi pi-lock"></i
        ><input
          type="password"
          name=""
          placeholder="Confirm Password"
          required
          formControlName="confirmPassword"
        />
      </div>
    </form>

    <button type="submit" class="btn" (click)="register()">Register</button>
    <p class="signUp">Already have account? <a href="/auth/login">Login</a></p>
  </div>
  <div class="col-12 xl:col-6">
    <img alt="" src="assets/images/4565.jpg" />
  </div>
</div>
