* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to viewport height or any desired height */
}

.col-12 {
  padding: 20px;
}

.col-12 h1 {
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 50px;
}

.input-controls {
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
}

.input-controls input {
  border-radius: 3px;
  background: transparent;
  outline: none;
  border: 1px solid #000;
  width: 90%;
  height: 40px;
  padding-left: 35px;
}

::placeholder {
  color: #777;
}

.input-controls i {
  background: transparent;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  // color: #55efc4;
  font-size: 15px;
  padding: 1px;
}

.input-controls .eye {
  background: transparent;
  position: absolute;
  right: 15%; /* Position eye icon 5% from the right edge of the input container */
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  padding: 1px;
}

.btn {
  display: block;
  width: 90%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

.bg-green-500 {
  background-color: #4caf50;
}

.bg-blue-500 {
  background-color: #2196f3;
}

img {
  max-width: 100%;
  height: auto;
}

.rememberMe label,
a {
  color: #000;
  flex: 1;
}

.signUp {
  text-align: center;
  padding-top: 10px;
}

.social {
  text-align: center;
}

.icons {
  list-style: none;
  padding: 0;
}

.icons i {
  padding-right: 10px; /* Adjust the padding as needed */
  font-size: 20px;
}

.input-controls .is-invalid {
  border: 1px solid red; /* or whatever border style you want */
}


