.body {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 600px;
  max-width: 50%;
  min-height: 600px;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: left;
  color: #2f4f4f;
  padding-bottom: 8px;
  padding-left: 10px;
  margin-top: 10px;
  border-bottom: 1px solid silver;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.custom-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  /* Add responsive styles as needed */
}
