<div class="flex flex-wrap gap-2 justify-content-between bg-white p-2">
    <div class="ml-6">
        <img src="assets/logo3.png" alt="logo" width="200" height="50">
    </div> 
    <div>
        <p-button label="Back to Job List"></p-button>
    </div>  
</div>
<div class="grid">
    <p-toast></p-toast>
    <div class="col-12 xl:col-3">
    <div class="card p-4 m-4">
     <div>
        <p class="header ml-4 cursor-pointer" (click)="nextWorkExperience()"><i class="pi pi-user"></i>
            Basic details</p> 
     </div>
     <p-divider></p-divider>
     <div>
      <p class="header ml-4 cursor-pointer" (click)="saveBasicDetails()"><i class="pi pi-book"></i>
        Educational details</p>  
     </div>
     <p-divider></p-divider>
     <div>
       <p class="header ml-4 cursor-pointer" (click)="nextEducationalDetails()"><i class="pi pi-briefcase"></i>
        Work Experience</p>
     </div>
    </div>
    <div class="card p-4 m-4">
     <p>Profile Status</p>
     <div class="mt-4">
     <p-progressBar [value]="50"></p-progressBar>
     </div>
       </div>
    </div>
    <div class="col-12 xl:col-9">
        <!-- Basic Details -->
    <div class="card p-6 m-4" *ngIf="basicDetailsView">
        <h4>Basic Details</h4>
        <form [formGroup]="basicDetailsForm">
        <div class="p-fluid p-formgrid grid mt-2">
            <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">First Name:<span class="required">*</span></label>
                <input pInputText class="p-inputtext-sm pInputText"  id="name" formControlName="firstName"
                type="text" />
            </div>
             <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">Middle Name:<span class="required">*</span></label>
                <input pInputText class="p-inputtext-sm pInputText"  id="name" formControlName="middleName"
                type="text" />
            </div>
            <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">Last Name:<span class="required">*</span></label>
                <input pInputText class="p-inputtext-sm pInputText"  id="name" formControlName="lastName"
                type="text" />
            </div>
            <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">Email:<span class="required">*</span></label>
                <input pInputText class="p-inputtext-sm pInputText"  id="name" formControlName="email"
                type="text" />
            </div>
            <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">Date of Birth:<span class="required">*</span></label>
                <p-calendar formControlName="applicationDeadline" formControlName="dateOfBirth" [showIcon]="true"></p-calendar>
            </div>
            <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">Gender:<span class="required">*</span></label>
                <p-dropdown [options]="genderViewedOptions" formControlName="gender" optionLabel="label" placeholder="select gender"
                [showClear]="true"></p-dropdown>
            </div>            
            <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">Mobile No:<span class="required">*</span></label>
                <p-inputNumber class="p-inputtext-sm pInputText" formControlName="mobileNo" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"> </p-inputNumber>
            </div>            
            <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">location:<span class="required">*</span></label>
                <input pInputText class="p-inputtext-sm pInputText" formControlName="location" id="name"
                type="text" />
            </div>
            <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">Address:<span class="required">*</span></label>
                <input pInputText class="p-inputtext-sm pInputText" formControlName="address" id="name"
                type="text" />
            </div>            
            <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">Nationality:<span class="required">*</span></label>
                <input pInputText class="p-inputtext-sm pInputText" formControlName="nationality" id="name"
                type="text" />
            </div>
            <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">Blood Group:<span class="required">*</span></label>
                <input pInputText class="p-inputtext-sm pInputText"  formControlName="bloodGroup" id="name"
                type="text" />
            </div>
             <div class="col-12 md:col-6 mb-0 p-2">
                <label htmlFor="name">Relationship Status:<span class="required">*</span></label>
                <p-dropdown [options]="relationViewedOptions" optionLabel="label" formControlName="relationshipStatus" placeholder="select relationship status"
                [showClear]="true"></p-dropdown>
            </div>
        </div>
        <div class="flex flex-wrap gap-2 justify-content-between">
            <div></div>
           <div class="flex flex-wrap gap-2"><p-button label="Next" (click)="saveBasicDetails()" icon="pi pi-arrow-right" iconPos="right"></p-button></div> 
        </div>
        </form>
    </div>
            <!-- Educational Details -->
            <div class="card p-6 m-4" *ngIf="educationalDetailsView">
                <div class="flex flex-wrap gap-2 justify-content-between">
                    <div>
                        <h4>Educational Details</h4>
                    </div> 
                    <div class="flex flex-wrap gap-2">
                        <p-button pRipple icon="pi pi-plus" label="Add"> </p-button>
                    </div>
                </div>
                <form [formGroup]="educationalForm">
                <div class="p-fluid p-formgrid grid mt-2">
                    <div class="col-12 md:col-6 mb-0 p-2">
                        <label htmlFor="name">Qualification:<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" formControlName="programDegree" id="name"
                        type="text" />
                    </div>
                    <div class="col-12 md:col-6 mb-0 p-2">
                        <label htmlFor="name">School/College Name:<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" formControlName="collegeName" id="name"
                        type="text" />
                    </div>
                    <div class="col-12 md:col-6 mb-0 p-2">
                        <label htmlFor="name">Start Date:<span class="required">*</span></label>
                        <p-calendar view="month" dateFormat="mm/yy" [showIcon]="true" formControlName="startDate" [readonlyInput]="true"></p-calendar>
                    </div>
                    <div class="col-12 md:col-6 mb-0 p-2">
                        <label htmlFor="name">End Date:<span class="required">*</span></label>
                        <p-calendar view="month" dateFormat="mm/yy" [showIcon]="true" formControlName="endDate" [readonlyInput]="true"></p-calendar>
                    </div>          
                    <div class="col-12 md:col-6 mb-0 p-2">
                        <label htmlFor="name">location:<span class="required">*</span></label>
                        <input pInputText class="p-inputtext-sm pInputText" formControlName="location" id="name"
                        type="text" />
                    </div>
                </div>
                <div class="flex flex-wrap gap-2 justify-content-between">
                    <div><p-button label="Save" icon="pi pi-check" iconPos="right"></p-button></div>
                   <div class="flex flex-wrap gap-2"><p-button label="Next" (click)="nextEducationalDetails()" icon="pi pi-arrow-right" iconPos="right"></p-button></div> 
                </div>
            </form>
                <ul class="p-0 mx-0 mt-0 list-none flex flex-wrap">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border mr-6 ml-4">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-200 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-bolt text-xl text-orange-300"></i>
                        </div>
                        <div class="pt-0 pb-0 flex-grow">
                            <span class="companyName">EDULAB
                                <p class="designation">UI developer</p>
                            </span>
                            <span class="exp">Apr, 2018 - present | Mumbai, India</span>
                        </div>
                        <div class="pt-5 pl-6">
                            <p-button label="Edit" icon="pi pi-pencil" iconPos="right"></p-button>
                        </div>
                    </li>
                    
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border mr-6 ml-4">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-200 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-bolt text-xl text-orange-300"></i>
                        </div>
                        <div class="pt-0 pb-0 flex-grow">
                            <span class="companyName">Infosys
                                <p class="designation">UI developer</p>
                            </span>
                            <span class="exp">Apr, 2018 - present | Mumbai, India</span>
                        </div>
                        <div class="pt-5 pl-6">
                            <p-button class="button" label="Edit" icon="pi pi-pencil" iconPos="right"></p-button>
                        </div>
                    </li>
                </ul>              
            </div>
                    <!-- Work Experiences -->
                    <div class="card p-6 m-4" *ngIf="workExperienceView">
                        <div class="flex flex-wrap gap-2 justify-content-between">
                            <div>
                                <h4>Work Experience</h4>
                            </div> 
                            <div class="flex flex-wrap gap-2">
                                <p-button pRipple icon="pi pi-plus" label="Add"> </p-button>
                            </div>
                        </div>
                        <div class="p-fluid p-formgrid grid mt-2">
                            <div class="col-12 md:col-6 mb-0 p-2">
                                <label htmlFor="name">Position:<span class="required">*</span></label>
                                <input pInputText class="p-inputtext-sm pInputText"  id="name"
                                type="text" />
                            </div>
                            <div class="col-12 md:col-6 mb-0 p-2">
                                <label htmlFor="name">Company Name:<span class="required">*</span></label>
                                <input pInputText class="p-inputtext-sm pInputText"  id="name"
                                type="text" />
                            </div>
                            <div class="col-12 md:col-6 mb-0 p-2">
                                <label htmlFor="name">Joining Date:<span class="required">*</span></label>
                                <p-calendar view="month" dateFormat="mm/yy" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                            </div>
                            <div class="col-12 md:col-6 mb-0 p-2">
                                <label htmlFor="name">Resign Date:<span class="required">*</span></label>
                                <p-calendar view="month" dateFormat="mm/yy" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                            </div>          
                            <div class="col-12 md:col-6 mb-0 p-2">
                                <label htmlFor="name">location:<span class="required">*</span></label>
                                <input pInputText class="p-inputtext-sm pInputText"  id="name"
                                type="text" />
                            </div>
                        </div>
                        <div class="flex flex-wrap gap-2 justify-content-between">
                            <div><p-button label="Save" icon="pi pi-check" iconPos="right"></p-button></div>
                           <!-- <div class="flex flex-wrap gap-2"><p-button label="Back to Job Board" (click)="nextWorkExperience()" icon="pi pi-arrow-right" iconPos="right"></p-button></div>  -->
                        </div>
                        <ul class="p-0 mx-0 mt-0 list-none flex flex-wrap">
                            <li class="flex align-items-center py-2 border-bottom-1 surface-border mr-6 ml-4">
                                <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-200 border-circle mr-3 flex-shrink-0">
                                    <i class="pi pi-bolt text-xl text-orange-300"></i>
                                </div>
                                <div class="pt-0 pb-0 flex-grow">
                                    <span class="companyName">EDULAB
                                        <p class="designation">UI developer</p>
                                    </span>
                                    <span class="exp">Apr, 2018 - present | Mumbai, India</span>
                                </div>
                                <div class="pt-5 pl-6">
                                    <p-button label="Edit" icon="pi pi-pencil" iconPos="right"></p-button>
                                </div>
                            </li>
                            
                            <li class="flex align-items-center py-2 border-bottom-1 surface-border mr-6 ml-4">
                                <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-200 border-circle mr-3 flex-shrink-0">
                                    <i class="pi pi-bolt text-xl text-orange-300"></i>
                                </div>
                                <div class="pt-0 pb-0 flex-grow">
                                    <span class="companyName">Infosys
                                        <p class="designation">UI developer</p>
                                    </span>
                                    <span class="exp">Apr, 2018 - present | Mumbai, India</span>
                                </div>
                                <div class="pt-5 pl-6">
                                    <p-button label="Edit" icon="pi pi-pencil" iconPos="right"></p-button>
                                </div>
                            </li>
                        </ul>
                    </div>
    </div>
</div>