<div class="grid">
    <div class="col-12 xl:col-4">
        <div class="card align-items-center justify-content-center" *ngIf="userData">
            <img class="image" alt="avatar1" *ngIf="userData.profilePic === null"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGf_8UZ3xLijdkOtv3qWnUpyknARbKMrcVJA&usqp=CAU" />
                <img class="image" alt="avatar1" *ngIf="userData.profilePic !== null"
                [src]="photoURL" />
            <div class="name" *ngIf="userData">{{userData.firstName}} {{userData.middleName ? userData.middleName : ''}} {{userData.lastName}}</div>
            <div class="role" *ngIf="resumeData">{{resumeData.designation}}</div>
            <!-- <p class="des">Junior Software Developer specializing in Angular and Node.js with a proven track record of
                delivering efficient and scalable solutions.</p> -->
            
                <!-- skills  -->
                <div class="skills-header">Skills</div>
            <div class=" flex align-items-center pt-2 gap-2 flex-wrap">
                <div class="chip" *ngFor="let data of skills">
                    <div class="chip-content">{{data}}</div>
                </div>
            </div>

            <button pButton pRipple label="Update Profile" (click)="updateProfile()" class="button m-4"> </button>

        </div>
    </div>

    <div class="col-12 xl:col-8">
        <!-- Basic Information  -->
        <div class="card">
            <h5>Basic Information</h5>
            <div *ngIf="userBasicData" class="p-fluid p-formgrid grid mb-0 pb-0">
                <div class="field col-12 md:col-3 pt-1 pb-0">
                    <label for="">Blood Group</label>
                    <p class="label-data">{{userBasicData[0].bloodGroup}}</p>
                </div>
                <div class="field col-12 md:col-6 pt-1 pb-0">
                    <label for="">Email</label>
                    <p class="label-data">{{userData.email}}</p>
                </div>
                <div class="field col-12 md:col-3 pt-1 pb-0">
                    <label for="">Phone</label>
                    <p class="label-data">{{userBasicData[0].mobileNo ? userBasicData[0].mobileNo : ''}}</p>
                </div>
                <div class="field col-12 md:col-3 pt-0 pb-0">
                    <label for="">Relationship</label>
                    <p class="label-data">{{userBasicData[0].relationshipStatus ? userBasicData[0].relationshipStatus : ''}}</p>
                </div>
                <div class="field col-12 md:col-6 pt-0 pb-0">
                    <label for="">Location</label>
                    <p class="label-data">{{userBasicData[0].location ? userBasicData[0].location : '' }}</p>
                </div>
                <div class="field col-12 md:col-3 pt-0 pb-0">
                    <label for="">Date of Birth</label>
                    <p class="label-data">{{userData.dateOfBirth | date: 'dd MMM,yyyy'}}</p>
                </div>
            </div>
        </div>

        <!-- work Experience  -->
        <div class="card" *ngIf="workExpData">
            <h5>Work Experience</h5>
            <ul class="p-0 mx-0 mt-0 list-none">
                <li *ngFor="let data of workExpData" class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-200 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-bolt text-xl text-orange-300"></i>
                    </div>
                    <div class="pt-0 pb-0">
                        <span class="companyName">{{data.companyName}}
                            <p class="designation">{{data.designation}}</p>
                        </span>
                        <span class="exp">{{data.joiningDate | date : 'MMM,yy'}} - {{data.leavingDate | date : 'MMM,yy'}} | {{data.location}}</span>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Education Details  -->
        <div class="card" *ngIf="eduData">
            <h5>Education</h5>
            <ul class="p-0 mx-0 mt-0 list-none">
                <li *ngFor="let data of eduData" class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-200 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-book text-xl text-orange-300"></i>
                    </div>
                    <div class="pt-0 pb-0">
                        <span class="companyName">{{data.programDegree}}
                            <p class="designation">{{data.collegeName}}</p>
                        </span>
                        <span class="exp">{{data.startDate | date : 'MMM,yy'}} - {{data.endDate | date : 'MMM,yy'}} | {{data.location}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>