<div class="grid">
    <div class="col-12 xl:col-4">
        <div class="card align-items-center justify-content-center">
            <img class="image" alt="avatar1"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGf_8UZ3xLijdkOtv3qWnUpyknARbKMrcVJA&usqp=CAU" />
            <div class="name">Karthik Ganesan</div>
            <div class="role">Software Developer</div>
            <p class="des">Junior Software Developer specializing in Angular and Node.js with a proven track record of
                delivering efficient and scalable solutions.</p>
            
                <!-- skills  -->
                <div class="skills-header">Skills</div>
            <div class=" flex align-items-center pt-2 gap-2 flex-wrap">
                <div class="chip">
                    <div class="chip-content">Javascript</div>
                </div>
                <div class="chip">
                    <div class="chip-content">Angular</div>
                </div>
                <div class="chip">
                    <div class="chip-content">git</div>
                </div>
                <div class="chip">
                    <div class="chip-content">postman</div>
                </div>
            </div>

            <button pButton pRipple label="Update Profile" class="button m-4"> </button>

        </div>
    </div>

    <div class="col-12 xl:col-8">
        <!-- Basic Information  -->
        <div class="card">
            <h5>Basic Information</h5>
            <div class="p-fluid p-formgrid grid mb-0 pb-0">
                <div class="field col-12 md:col-3 pt-1 pb-0">
                    <label for="">Age</label>
                    <p class="label-data">22</p>
                </div>
                <div class="field col-12 md:col-6 pt-1 pb-0">
                    <label for="">Email</label>
                    <p class="label-data">karthikganesan1725@gmail.com</p>
                </div>
                <div class="field col-12 md:col-3 pt-1 pb-0">
                    <label for="">Phone</label>
                    <p class="label-data">8433824437</p>
                </div>
                <div class="field col-12 md:col-3 pt-0 pb-0">
                    <label for="">Experience</label>
                    <p class="label-data">2 years</p>
                </div>
                <div class="field col-12 md:col-6 pt-0 pb-0">
                    <label for="">Location</label>
                    <p class="label-data">Mumbai,Maharashtra</p>
                </div>
                <div class="field col-12 md:col-3 pt-0 pb-0">
                    <label for="">Date of Birth</label>
                    <p class="label-data">25-10-2001</p>
                </div>
            </div>
        </div>

        <!-- work Experience  -->
        <div class="card">
            <h5>Work Experience</h5>
            <ul class="p-0 mx-0 mt-0 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-200 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-bolt text-xl text-orange-300"></i>
                    </div>
                    <div class="pt-0 pb-0">
                        <span class="companyName">EDULAB
                            <p class="designation">UI developer</p>
                        </span>
                        <span class="exp">Apr,2018 - present | mumbai,India</span>
                    </div>
                </li>
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-200 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-bolt text-xl text-orange-300"></i>
                    </div>
                    <div class="pt-0 pb-0">
                        <span class="companyName">Infosys
                            <p class="designation">UI developer</p>
                        </span>
                        <span class="exp">Apr,2018 - present | mumbai,India</span>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Education Details  -->
        <div class="card">
            <h5>Education</h5>
            <ul class="p-0 mx-0 mt-0 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-200 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-book text-xl text-orange-300"></i>
                    </div>
                    <div class="pt-0 pb-0">
                        <span class="companyName">BSC (I.T)
                            <p class="designation">Vivek College of Commerce</p>
                        </span>
                        <span class="exp">Apr,2018 - present | mumbai,India</span>
                    </div>
                </li>
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-green-200 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-book text-xl text-orange-300"></i>
                    </div>
                    <div class="pt-0 pb-0">
                        <span class="companyName">Infosys
                            <p class="designation">UI developer</p>
                        </span>
                        <span class="exp">Apr,2018 - present | mumbai,India</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>