<div class="flex flex-wrap gap-2 justify-content-between">
    <h2>Saved Jobs</h2>
</div>
<div class="grid p-fluid">
    <div class="col-12 ">
        <div class="card">
            <h5>Jobs</h5>
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="search" class="p-inputtext-sm pInputText" pInputText placeholder="Search...">
                </span>
            </div>
        </div>
    </div>
</div>