<div class="content">
  <div class="header">
    <div class="logo">Jobster</div>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Find Jobs</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="loginRegister">
      <li><a href="#" class="loginButton">Login</a></li>
      &nbsp;
      <li><a href="#" class="registerButton">Register</a></li>
    </ul>
  </div>
  <div class="body">
    <h1>Find the perfect <span style="color: blue">Job</span> for you</h1>
    <p>Search your career apportunity through 12,800 jobs</p>
    <div class="searchBar">
      <input type="text" placeholder="Job title or keyword" />
      <input type="text" placeholder="Location" />
      <button class="btnSearch">Search</button>
    </div>

    <div class="popSearch">
      <h4>Popular Searches :</h4>
      <p>Work from Home</p>
      <p>Part-Time</p>
      <p>Annimation</p>
      <p>Fianance</p>
      <p>IT</p>
      <p>Engineering</p>
    </div>
  </div>
</div>
