<div class="header">
  <div class="logo">Jobster</div>
  <div class="navBar">
    <a href="#">Home</a>
    <a href="#">Find Jobs</a>
    <a href="#">About Us</a>
  </div>
  <div class="loginRegister">
    <a href="#" class="loginButton">Login</a>&nbsp;
    <a href="#" class="registerButton">Register</a>
  </div>
</div>
<div class="body">
  <h1>Find the perfect <span style="color: blue">Job</span> for you</h1>
  <p>Search your career apportunity through 12,800 jobs</p>
  <div class="searchBar">
    <input type="text" placeholder="Job title or keyword" />
    <input type="text" placeholder="Location" />
    <button class="btnSearch">Search</button>
  </div>
  <h4>Popular Searches</h4>
  <div class="popSearch">
    <p>Work from Home</p>
    <p>Part-Time</p>
    <p>Annimation</p>
    <p>Fianance</p>
    <p>IT</p>
    <p>Engineering</p>
  </div>
</div>
