<div class="body">
  <header>
    <h1 class="logo">Jobster</h1>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Find Jobs</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">contact us</a></li>
    </ul>
    <div class="btn">
      <button class="postJob" (click)="postJob()">
        <i class="fa-solid fa-plus"></i> login</button
      >&nbsp;
      <button class="registerbtn" (click)="register()">Register</button>
    </div>
  </header>
  <div class="container">
    <p>Discover Jobster Today</p>
    <h1>Find your New job easiest way with Jobster</h1>
    <form class="form">
      <input type="text" placeholder="Job title or keyword" />
      <input type="text" placeholder="Location" />
      <button class="btnSearch">
        <i class="fa-solid fa-magnifying-glass"></i> Search
      </button>
    </form>
    <div class="keyword">
      <span
        >Keywords :
        <p>Web Designer</p>
        <p>UI/UX Designer</p>
        <p>Software Engineer</p>
        <p>MERN Developer</p></span
      >
    </div>
  </div>
</div>
