
// $gutter: 1rem; //for primeflex grid system

// /* PrimeNG */
// @import "../node_modules/primeng/resources/primeng.min.css";
// // @import "../node_modules/primeflex/primeflex.scss";
// @import "../node_modules/primeflex/primeflex.scss";
// @import "../node_modules/primeicons/primeicons.css";

// $primary : #003459;
// $secondary : #007ea7;
// $tertiary : #00a8e8;
// $wight : #ffffff;
// $black : #00171f;

// * {
//     box-sizing: border-box;
// }

// html {
//     height: 100%;
// }

// body {
//     font-family: monaco,Consolas,monospace;
//     color: var(--text-color);
//     background-color: #dedcdc;
//     margin: 0;
//     padding: 0;
//     min-height: 100%;
//     width: 100%;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     //  overflow-x: hidden;
// }



@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/primeflex/primeflex.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
     url("./assets/images/hero_1.jpg");  */
  /* Add a subtle text shadow */
  background: linear-gradient(to right, #12063B, #09555C);
}
