
    <div class="card">
        <div *ngIf="alumniAppliedJobView">
            <div class="grid p-fluid">
                <div class="col-12 mb-0">
                    <div class="flex flex-column md:flex-row md:justify-content-between">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="search" class="p-inputtext-sm pInputText" [(ngModel)]="filterTextAlumniApplied"
                                 (input)="filterDataAlumniApplied()" pInputText
                                #jobApplicant placeholder="Search...">
                        </span>
                    </div>
                </div>
            </div>
            <div class="grid formgrid">
                <div class="col-12" *ngFor="let data of alumniJobData">
                    <div class="flex mt-4">
                        <div class="flex-1 flex flex-column">
                            <h4 class=" font-bold mb-0">{{ data?.job?.jobTitle}}</h4>
                            <span><i class="pi pi-building"></i>{{ data?.job?.companyName }}</span>
                        </div>
                    </div>
                    <div class="row justify-content-between mt-2">
                        <div class="col-md-3"><i class="pi pi-briefcase"></i>
                            {{data?.job?.experienceFrom}} to
                            {{data?.job?.experienceTo}}
                            Yrs</div>
                        <div class="col-md-3"><i class="bi bi-currency-rupee" style="font-weight: 800;"></i>
                            {{ data?.job?.salaryPackage}}
                        </div>
                        <div class="col-md-3"><i class="bi bi-geo-alt" style="font-weight: 800;"></i>
                            {{data?.job?.jobLocation}}
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2 justify-content-between mt-2">
                        <span><i class="pi pi-clock"></i><span class="font-bold"> DeadLine</span>
                            {{data?.job?.applicationDeadline | date:'dd
                            MMM,yyyy'}}
                        </span>
                        <div class="flex flex-wrap gap-2">
                            <span class="viewDetails" (click)="viewAlumniJobStatus(data)">View Job Status</span>
                        </div>
                    </div>
                    <!-- <p-divider></p-divider> -->
                </div>
            </div>
            <!-- <app-pagination [currentPage]="currentPage" [totalPages]="totalAlumniAppliedJob"
                (pageChanged)="onPageChangedAlumniApplied($event)"></app-pagination> -->
        </div>
        <div class="grid p-fluid" *ngIf="alumniAppliedDescription">
            <div class="col-12 md:col-6">
                <div>
                    <div class="flex flex-wrap gap-2 justify-content-between">
                        <div class="flex flex-wrap gap-2">
                            <button pButton pRipple icon="pi pi-chevron-left" (click)="backToAppliedApplicant()"
                                label="Back to Job Applicant" style="background-color: #007EA7;">
                            </button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="flex">
                            <div class="flex-1 flex flex-column">
                                <h4 class=" font-bold mb-0">{{appliedJobDescription.job.jobTitle}}</h4>
                                <span><i class="pi pi-building"></i>
                                    {{appliedJobDescription.job.companyName}}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between mt-2">
                            <div class="col-md-3"><i class="pi pi-briefcase"></i>
                                {{appliedJobDescription.job.experienceFrom}}
                                to {{appliedJobDescription.job.experienceTo}} Yrs</div>
                            <div class="col-md-3"><i class="bi bi-currency-rupee" style="font-weight: 800;"></i>
                                {{appliedJobDescription.job.salaryPackage}}
                            </div>
                            <div class="col-md-3"><i class="bi bi-geo-alt" style="font-weight: 800;"></i>
                                {{appliedJobDescription.job.jobLocation}}
                            </div>
                        </div>
                        <div class="flex flex-wrap gap-2 justify-content-between mt-2">
                            <span><i class="pi pi-clock"></i> {{appliedJobDescription.job.applicationDeadline |
                                date:'dd
                                MMM,yyyy'}}</span>
                        </div>
                        <!-- <p-divider></p-divider> -->
                    </div>
                </div>
                <h5 class="mt-0">Job Applied Status</h5>
                <ol class="stepper">
                    <!-- application submitted -->
                    <li class="stepper-item complete">
                        <span class="stepper-counter"></span>
                        <span class="stepper-link">Job Application Submitted </span>
                        <span class="stepper-line"></span>
                    </li>
                    <span class="message">Application submitted
                        successfully. Fingers crossed for the next step!</span>
                    <!-- application viewed -->
                    <li class="stepper-item"
                        *ngIf="appliedJobDescription.applicationStatus === 'applicationSubmitted'">
                        <span class="stepper-counter"></span>
                        <span class="stepper-link">Recruiter Viewed your Application</span>
                    </li>
                    <li class="stepper-item complete"
                        *ngIf="appliedJobDescription.applicationStatus ==='shortlisted' || appliedJobDescription.applicationStatus ==='rejected' || appliedJobDescription.applicationStatus ==='applicationViewed'">
                        <span class="stepper-counter"></span>
                        <span class="stepper-link">Recruiter Viewed your Application</span>
                        <span class="stepper-line"></span>
                    </li>
                    <span
                        *ngIf="appliedJobDescription.applicationStatus ==='shortlisted' || appliedJobDescription.applicationStatus ==='rejected' || appliedJobDescription.applicationStatus ==='applicationViewed' "
                        class="message">Recruiter has viewed your application. Stay tuned for updates!</span>
                    <!-- shortlisted -->
                    <li class="stepper-item shortlisted"
                        *ngIf="appliedJobDescription.applicationStatus ==='shortlisted'">
                        <span class="stepper-counter"></span>
                        <span class="stepper-link">Application Shortlisted</span>
                    </li>
                    <span *ngIf="appliedJobDescription.applicationStatus ==='shortlisted'"
                        class="message">Congratulations! Your application has been shortlisted. Exciting
                        times
                        ahead - stay tuned for further details!</span>
                    <!-- rejected -->
                    <li *ngIf="appliedJobDescription.applicationStatus ==='rejected'" class="stepper-item rejected">
                        <span class="stepper-counter"></span>
                        <span class="stepper-link">Application Rejected</span>
                    </li>
                    <span *ngIf="appliedJobDescription.applicationStatus ==='rejected'" class="message">Thank you
                        for applying. Unfortunately, your application has not been
                        selected this time. Keep exploring new
                        opportunities!</span>
                </ol>
            </div>
            <div class="col-12 md:col-6">
                <div class="formgrid grid">
                    <div class="col-12 md:col-6 mb-2 label">
                        Description :
                    </div>
                    <div class="col-12 md:col-12 mb-2">
                        <div [innerHtml]="sanitizedHtml"></div>
                    </div>
                    <div class="col-12 md:col-6 mb-2 label">
                        Skills :
                    </div>
                    <div class="col-12 md:col-6 mb-2">
                        {{appliedJobDescription.job.skills}}
                    </div>
                    <div class="col-12 md:col-6 mb-2 label">
                        Qualification :
                    </div>
                    <div class="col-12 md:col-6 mb-2">
                        {{appliedJobDescription.job.education}}
                    </div>
                    <div class="col-12 md:col-6 mb-2 label">
                        Role :
                    </div>
                    <div class="col-12 md:col-6 mb-2">
                        {{appliedJobDescription.job.role}}
                    </div>
                    <div class="col-12 md:col-6 mb-2 label">
                        Industry Type :
                    </div>
                    <div class="col-12 md:col-6 mb-2">
                        {{appliedJobDescription.job.industryType}}
                    </div>
                    <div class="col-12 md:col-6 mb-2 label">
                        Department :
                    </div>
                    <div class="col-12 md:col-6 mb-2">
                        {{appliedJobDescription.job.department}}
                    </div>
                    <div class="col-12 md:col-6 mb-2 label">
                        Employment Type :
                    </div>
                    <div class="col-12 md:col-6 mb-2">
                        {{appliedJobDescription.job.employmentType}}
                    </div>
                </div>
            </div>
        </div>
    </div>